@charset "UTF-8";

//--------------------
// Typography
//--------------------


ul li,
p, em, div.description {
  font-size: 13px;
  font-style: normal;
}


p#project-count,
p#gallery-count {
  text-align: right;
}

p#gallery-count span {
  letter-spacing: 0.08em;
}



//--------------------
// Layout
//--------------------

.col {
  float: left;
  margin: 0 0 0 20px;
  padding: 0;

  .col { margin: 0; }
}

.one    { width: 60px;  }
.two    { width: 140px; }
.three  { width: 220px; }
.four   { width: 300px; }
.five   { width: 380px; }
.six    { width: 460px; }
.seven  { width: 540px; }
.eight  { width: 620px; }
.nine   { width: 700px; }
.ten    { width: 780px; }
.eleven { width: 860px; }
.twelve { width: 940px; }


.col hr {
  margin: 0 0 15px;
}



ul {
  li {
    margin: 0 0 3px;
  }

  &#navigation, &.projects {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &#navigation {
    margin: 10px 0 0 20px;
    li {
      clear: both;
    }
  }

  &.projects li {
    clear: both;
  }

  &#navigation ol {
    display: none;
    margin: 0;
    padding: 4px 0 4px 25px;
  }

  &.projects li {
    float: left;
    padding: 0 0 8px;
  }
}



p {

  &#project-count {
    margin: 2px 20px 0 0;
  }
  &#gallery-count {
    margin: 2px 20px 0 0;
    display: none;
  }


  &#gallery-count span {
    margin: -1px 0 0;
    display: block;
  }
}



div {
  &.description {
    p {
      clear: both;
    }
    h2 {
      padding: 0 0 15px;
    }
  }

  &#media {
    clear: both;
    padding: 30px 0 0 70px;
  }

  &.media {
    margin: 0 0 10px;
  }

  &.description div#images {
    padding: 0 0 0 0;
  }

  &#media img {
    margin: 0 0 10px;
  }


  &#project-navigation {
    margin: 0 0 0 20px;
    p {
      margin: 0 0 1px;
    }
  }

  &#gallery-navigation p {
    margin: 0 0 1px;
  }

  &#image-wrapper {
    overflow: hidden;
    width: 560px;
    div#image-holder {
      width: 35791394px;
      div.image {
        float: left;
        width: 560px;
      }
    }
  }


  &#gallery-navigation {
    display: none;
  }
}


img.project-thumb {
  padding: 0 10px 5px 0;
  float: left;
  display: none;
}


/* Javascript-enabled styles */

body.js-enabled {
  p#gallery-count, div#gallery-navigation {
    display: block;
  }
  p#project-count {
    display: none;
  }
  div#media div.image {
    display: none;
    &:first-child {
      display: block;
    }
  }
}
