//--------------------
// Fonts
//--------------------

$font-family: 'Crimson Text', serif;

//--------------------
// Colours
//--------------------

$colorW: #fff;
$colorB: #000;
$colorPrimary: #faa;
$colorBg: #ffb3a4;

