<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{{ page.name }}'s Portfolio </title>
    {% include 'partials/base/head.html' %}
  </head>
  <body class="o-site">
    <div class="o-site__wrapper" id="container">
      <header class="o-site__header c-header">
        {% include 'partials/base/header.html' %}
      </header>
      <hr class="o-site__hr col twelve">
      <nav class="o-site__nav c-navmenu">
        {% include 'partials/navigation/navigation.html' %}
      </nav>


      <main id="content" class="o-site__content c-navcat col eight">
        {% include 'partials/navigation/category-lists.html' %}
      </main>


      <hr class="o-site__hr col twelve">
      <footer class="o-site__footer c-footer">
        {% include 'partials/base/footer.html' %}
      </footer>
    </div>
  </body>
</html>
