<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{{ page.title }}, {{ page.name }}'s Portfolio</title>
    {% include 'partials/base/head.html' %}
  </head>
  <body class="o-site">
    <div id="container" class="o-site__wrapper {{ page.id }}">
      <header class="o-site__header c-header">
        {% include 'partials/base/header.html' %}
      </header>
      <hr class="o-site__hr col twelve">
      <nav class="o-site__nav c-navmenu">
        {% include 'partials/navigation/navigation.html' %}
      </nav>


      <main id="content" class="o-site__content c-project col eight">
        <section class="o-site__desc col eight">
          <p class="o-site__desc-date o-site__p col one">{{ page.date | date("Y, M-") }}</p>
          <div class="o-site__desc-content description col six">
            <h2 class="o-site__h2 o-site__desc-title col six"><a class="o-site__link o-site__desc-link" href="{{ page.root_path }}">{{ page.title }}</a></h2>
            {{ page.content }}
          </div>
        </section>

        <hr class="o-site__hr">

        <section class="o-site__pg c-pg col eight">
          <p id="project-count" class="c-pg__count col one"><em aria-hidden="true" class="o-site__em">&#8470;</em> {{ page.index }}/{{ page.siblings_count }}</p>
          <p id="gallery-count" class="c-pg__count col one"><em aria-hidden="true" class="o-site__em">&#8470;</em> <span class="c-pg__value">1/1</span></p>

          <div id="gallery-navigation" class="c-pg__imgs col three">
            <p class="c-pg__imgs--next"><a href="#" class="o-site__link c-pg__link" id="next-image">Next image</a> <em aria-hidden="true" class="o-site__em">&rarr;</em></p>
            <p class="c-pg__imgs--prev"><a href="#" class="o-site__link c-pg__link" id="previous-image">Previous image</a> <em aria-hidden="true" class="o-site__em">&larr;</em></p>
          </div>
          <div class="c-pg__pages col four">
            {% if page.siblings %}
              {% include 'partials/navigation/next-page.html' %}
              {% include 'partials/navigation/previous-page.html' %}
            {% endif %}
          </div>
        </section>

        {% include 'partials/assets/media.html' %}
      </main>


      <hr class="o-site__hr col twelve">
      <footer class="o-site__footer c-footer">
        {% include 'partials/base/footer.html' %}
      </footer>
    </div>
    <script type="text/javascript" charset="utf-8">
      document.getElementsByTagName('body')[0].className += ' js-enabled';
    </script>
    <script src="{{ page.root_path }}/public/docs/js/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ page.root_path }}/public/docs/js/gallery.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ page.root_path }}/public/docs/js/init-gallery.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>