<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{{ page.title }}, {{ page.name }}'s Portfolio </title>
    {% include 'partials/base/head.html' %}
  </head>
  <body class="o-site">
    <div id="container" class="o-site__wrapper {{ page.id }}">
      <header class="o-site__header c-header">
        {% include 'partials/base/header.html' %}
      </header>
      <hr class="o-site__hr col twelve">
      <nav class="o-site__nav c-navmenu">
        {% include 'partials/navigation/navigation.html' %}
      </nav>


      <main id="content" class="o-site__content c-search col eight">
        <section class="o-site__desc col eight">
          <p class="o-site__desc-date o-site__p col one">&para;</p>
          <div class="o-site__desc-content description col six">
            <h2 class="o-site__h2 o-site__desc-title col six"><a class="o-site__link o-site__desc-link" href="{{ page.root_path }}">{{ page.title }}</a></h2>
          </div>
        </section>

        <section class="o-site__search col eight">
          <p class="o-site__desc-date o-site__p col one">&nbsp;</p>
          <form class="c-search logo-bottom four" action="/search">
            <input class="c-search__input" type="text" value="{{ page.query.q }}" name="q" id="search-field" autocomplete="off" spellcheck="false" />
          </form>
          {% set results = search(page.query.q) %}
          {% for result in results %}
            <a class="o-site__link c-search__link" href="{{ result.url }}">
              <h2 class="o-site__h2 c-search__title">{{ result.title }}</h2>
              <p class="o-site__p c-search__match">{{ result.search_match }}</p>
            </a>
            <hr class="o-site__hr">
          {% endfor %}
        </section>
      </main>


      <hr class="o-site__hr col twelve">
      <footer class="o-site__footer c-footer">
        {% include 'partials/base/footer.html' %}
      </footer>
    </div>
    <script src="{{ page.root_path }}/public/docs/js/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
